    
    <% %w{current upcoming completed}.each do |type| %>
      <h2><%= type.capitalize %></h2>
      <% @scores.send(type + "_games").each do |game| %>
      <div class="game">
        <h3><%= game.time_left %></h3>
        <dl>
          <dt><%= game.team1[:name] %></dt>
          <dd <%= game.team1[:score].to_i >= game.team2[:score].to_i ? 'class="winning"' : '' %>><%= game.team1[:score] %></dd>
          <dt><%= game.team2[:name] %></dt>
          <dd <%= game.team2[:score].to_i >= game.team1[:score].to_i ? 'class="winning"' : '' %>><%= game.team2[:score] %></dd>
        </dl>
      </div>
      <% end %>
    <% end %>

