<ul id="home" title="Games" selected="true">
	<li><a href="#current">Current</a></li>
	<li><a href="#completed">Completed</a></li>
	<li><a href="#upcoming">Upcoming</a></li>
</ul>

<% %w{current upcoming completed}.each do |type| %>
<ul id="<%= type %>" title="<%= "#{type.capitalize}" %>">
  <% @scores.send(type + "_games").each do |game| %>
  <li>
    <h3><%= game.time_left %></h3>
    <dl class="game clearfix">
      <dt class="<%= @winners.include?(game.team1[:name]) ? "my_pick" : '' %>"><%= game.team1[:name] %></dt>
      <dd <%= game.team1[:score].to_i >= game.team2[:score].to_i ? 'class="winning"' : '' %>><%= game.team1[:score] %></dd>
      <dt class="<%= @winners.include?(game.team2[:name]) ? "my_pick" : '' %>"><%= game.team2[:name] %></dt>
      <dd class="<%= game.team2[:score].to_i >= game.team1[:score].to_i ? 'winning' : '' %>"  ><%= game.team2[:score] %></dd>
    </dl>
  </li>
  <% end %>
</ul>
<% end %>


<form id="search_form" class="dialog" action="/search" method="get">
  <fieldset>
  	<h1>Game Search</h1>
  	<a class="button leftButton" type="cancel">Cancel</a>
  	<a class="button blueButton" type="submit">Search</a>

  	<label for="team">Team:</label>
  	<input type="text" name="team" id="team" />
  </fieldset>
</form>




