<ul selected="true" title="Results">
  <% @games.each do |game| %>
  <li>
    <h3><%= game.time_left %></h3>
    <dl class="game clearfix">
      <dt><%= game.team1[:name] %></dt>
      <dd <%= game.team1[:score].to_i >= game.team2[:score].to_i ? 'class="winning"' : '' %>><%= game.team1[:score] %></dd>
      <dt><%= game.team2[:name] %></dt>
      <dd <%= game.team2[:score].to_i >= game.team1[:score].to_i ? 'class="winning"' : '' %>><%= game.team2[:score] %></dd>
    </dl>
  </li>
  <% end %>
</ul>
